* {
    font-family: 'Futura';
}
#timer{
  position: relative;
  display: block;
  top: 65%;
  text-align: center;
  font-size: 1.85vw;
  margin-top: 35px;
  color: #000;
}

.hero-wrapper {
  display: block;
  margin: auto;
  margin-top: 270px;
}

.date{
  position: relative;
  display: block;
  top: 40%;
  text-align: center;
  font-size: 1.75vw;
  margin-top: 35px;
}

.theme-header {
  position: relative;
  display: block;
  top: 45%;
  margin: 0 100px;
}

.theme-header-h1 {
  text-align: center;
  font-size: 4vw;
  color: #000;
  z-index: 11;
}

.tagline {
  position: relative;
  display: block;
  top: 58%;
  margin: 0 75px;
}

.tagline-h3 {
  text-align: center;
  font-size: 2vw;
  color: #000;
  z-index: 11;
}

.unleash {
  color: rgb(252, 46, 31);
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  z-index: 11;
}

.hero-img-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
  text-align: center;
  margin-bottom: 65px;
  margin-top: 20px;
}

.hero-img {
  max-width: 35vw;
}


/*IPHONE 5*/

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #timer {
      font-size: 4.5vw;

    }
    .theme-header-h1 {
      font-size: 6.0vw;
    }
    .tagline-h3, .unleash {
      font-size: 5vw;
    }
    .tagline {

    }
    .hero-img {
      max-width: 55vw;
    }
    .hero-wrapper {
      margin-top: 215px;
    }
}


/*IPHONE 6,7,8*/

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  #timer {
    font-size: 5vw;
  }
  .theme-header-h1 {
    font-size: 6.5vw;
  }
  .tagline-h3, .unleash {
    font-size: 5vw;
  }
  .tagline {

  }
  .hero-img {
    max-width: 60vw;
  }
  .hero-wrapper {
    margin-top: 215px;
  }

}

@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: portrait) {

} {
  #timer {
    font-size: 5vw;

  }
  .theme-header-h1 {
    font-size: 6.5vw;
  }
  .tagline-h3, .unleash {
    font-size: 5vw;
  }
  .tagline {

  }
  .hero-img {
    max-width: 60vw;
  }
  .hero-wrapper {
    margin-top: 215px;
  }

}



@media only screen
and (min-device-width : 1800px)
and (max-device-width : 2400px) {

  .hero-wrapper {
    margin-top: 415px;
  }

}

@media only screen
and (min-device-width : 900px)
and (max-device-width : 1440px)  {

  .hero-wrapper {
    margin-top: 320px;
  }

}