* {
  font-family: 'Roboto';
}

/*NAVBAR OVERRIDING*/

#override .navbar {
  background-color: rgba(50,50,50, 1);
  border: none;
}

#override .navbar-default a {
  color: #fff;
  -o-transition:background-color .2s;
  -ms-transition:background-color .2s;
  -moz-transition:background-color .2s;
  -webkit-transition:background-color .2s;
  transition:background-color .2s;
  transition-timing-function: ease-in-out;
}

#override .active a {
  color: rgb(252, 46, 31);
  background-color: white;
}

#override .navbar .icon-bar {
  background-color: rgb(252, 46, 31);
  border-color: rgb(252, 46, 31);
}

#override .navbar .icon-bar:hover {
  border-color: black;
}

#override button:focus {
  outline: 0;
}

#override .navbar {
  z-index: 14;
}

#override .navbar-default .navbar-toggle:hover, #override .navbar-default .navbar-toggle:focus  {
  background-color: rgba(255,255,255,0.9);
  border-color: rgba(255,255,255,0.9);
}

#override .navbar-default a:active,#override .navbar-default a:hover  {
  background-color: rgba(255,255,255,1);
  border-color: rgba(255,255,255,1);
  color: rgb(252, 46, 31);
}

#override .navbar-default .dropdown a:hover, a:focus {
  background-color: rgba(255,255,255,1);
  border-color: rgba(255,255,255,1);
  color: rgb(252, 46, 31);
}

#override .nav .open a {
  background-color: rgba(50,50,50, 1);
  border: none;
}

#override .dropdown-menu {
  background-color: rgba(50,50,50, 1);
  border: none;
}

#override .navbar-default .navbar-toggle {
  background-color: #fff;
  border-color: #fff;
}

#override .navbar-default .navbar-x {
  color: rgb(252, 46, 31);
}

#override .navbar-x:hover {
  color: rgb(252, 46, 31);
}


.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.center-justified {
  text-align: justify;
  margin: 0 15%;
}

.team-header {
  padding-bottom: 50px;
  padding-top: 50px;
}

#override .team-rows .col {
  padding-bottom: 10px;
}

.speaker-header {
  padding-bottom: 50px;
  padding-top: 50px;
}

.speaker-person {
  position: relative;
  overflow: hidden;
}

.team-member {
  position: relative;
  overflow: hidden;
}

.member-image img {
  border: none;
  margin: auto;
  display: block;
  /*HOVER EFFECT*/
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .23s ease-in-out;
}

.speaker-image img {
  border: none;
  margin: auto;
  display: block;
  /*HOVER EFFECT*/
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .23s ease-in-out;
}

.member-image img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.speaker-image img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.speaker-last {
  position: relative;
  overflow: hidden;
}

.speaker-2015 {
  position: relative;
  overflow: hidden;
}

.speaker-last-image img {
  border: none;
  margin: auto;
  display: block;
  /*HOVER EFFECT*/
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .23s ease-in-out;
}

.speaker-2015-image img {
  border: none;
  margin: auto;
  display: block;
  /*HOVER EFFECT*/
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .23s ease-in-out;
}

.speaker-last-image img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.speaker-2015-image img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}


#map {
  height: 400px;
  width: 90%;
  display: block;
  margin: auto;
}

.map-header {
  margin-bottom: 10px;
  margin-top: 70px;
}

#map hr {
  margin-bottom: 40px;
}

.contact-us {
  text-align: center;
}

/*BG STATIC IMAGE*/

.parallax {
  background-image: url("../images/TEDx1.png");
  background-size: auto;
  height: 600px;
  max-width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#footer {
  overflow: hidden;
}

#banner {
  background-color: rgba(255, 255, 255, 0.95) ;
  color: #db3535;
  text-align: center;
  cursor: default;
  padding: 10em 4em 0em 4em;
}

#banner h1 {
  font-size: 2.5em;
}

#override .short-banner {
  vertical-align: middle;
  padding-top: 6em;
}

#spacer {
  width: 100%;
  height: 100px;
}

#spacer-2 {
  width: 100%;
  height: 60px;
}

.footer {
  color:  #333333;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  font-size: 13px;
  margin-top: 10px;
  padding: 5px 0px 5px 0;
}

.cd-section {
  text-align: center;
}

.cd-section ul {
  list-style-type: none;
}

.cd-section .cd-container {
  /* this modifies the .cd-container default max-width */
  max-width: 768px;
}

.cd-section h2 {
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 20px;
  font-size: 1.25rem;
}

.cd-section p {
  line-height: 1.4;
}

@media only screen and (min-width: 768px) {
  .cd-section {
    padding-bottom: 5em;
    padding-right: 2em;
    padding-top: 1em;
  }
  .cd-section p {
    line-height: 1.6;
  }
}

@media only screen and (min-width: 1200px) {
  .cd-section {
    /*padding-bottom: 50em;*/
    padding-right: 2em;
    padding-top: 1em;
  }
  .cd-section h2 {
    margin-bottom: 2em;
  }
  .cd-section p {
    line-height: 1.8;
    font-size: 18px;
    font-size: 1.125rem;
  }
}

#cd-team {
  background: #ffffff;
}

#cd-team .cd-container {
  max-width: 1200px;
}

#cd-team h2 {
  color: #1a2f2a;
}

#cd-team li {
  margin-bottom: 2em;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(92, 75, 81, 0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.no-touch #cd-team li:hover {
  box-shadow: 0 0 10px rgba(92, 75, 81, 0.3);
}

.no-touch #cd-team li:hover .cd-img-overlay {
  opacity: 1;
}

#cd-team figure {
  position: relative;
}

#cd-team img {
  display: block;
  border-radius: .25em .25em 0 0;
}

#cd-team .cd-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(92, 75, 81, 0.9);
  opacity: 0;
  border-radius: .25em .25em 0 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#cd-team .cd-img-overlay span {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
}

#cd-team .cd-member-info {
  height: 125px;
  background: #FFF;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
  border-radius: 0 0 .25em .25em;
  font-size: large;
  padding-bottom: 5px;
}

#cd-team .cd-member-info span {
  display: block;
  font-weight: normal;
  color: rgb(121, 126, 130);
  font-size: 14px;
  font-size: 1.5rem;
  margin-top: .5em;
  padding-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  #cd-team li {
    width: 31%;
    float: left;
    margin-right: 3.5%;
  }
  #cd-team li:nth-child(3n) {
    margin-right: 0;
  }
}

[type="submit"] {
  border: 1px solid #2f5bb7;
  color: #fff;
  padding: 10px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  margin-top: 12px;
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 14px;
}

[type="submit"]:hover {
  border-color: #c6c6c6;
  color: #fff;
  cursor: pointer;
  -o-transition: all 0.2s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #4c8ffc;
  background-image: -webkit-linear-gradient(top, #4c8ffc, #4889f0);
  background-image: -moz-linear-gradient(top, #4c8ffc, #4889f0);
  background-image: -ms-linear-gradient(top, #4c8ffc, #4889f0);
  background-image: -o-linear-gradient(top, #4c8ffc, #4889f0);
  background-image: linear-gradient(top, #4c8ffc, #4889f0);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#override .sexy-line {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#000), to(#fff));
}

.contact-us p, a, span {
  font-size: 16px;
}

#override .fa-facebook, .fa-envelope, .fa-phone, .fa-map-marker {
  color: rgb(252, 46, 31)
}

.contact-details-title {
  font-weight: bold;
}

.contact-header {
  font-weight: 500;
}

#override .contact-us {
  padding-top: 50px;
}

#override .contact-us .row {
  padding-top: 20px;
}

#override #cd-team .btn-info {
  border: none;
  font-size: 80%;
}

#override #cd-team .btn-info:hover, .btn-info:active:focus {
  color: #fff;
  background-color: #f92f20;
  border: none;
}

.speaker-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 250px;
  height: 250px;
  /*  background: #1bbc9d;*/
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
}

.speaker-image_empty {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 250px;
  height: 250px;
}

.team col col-md-6 col-lg-4 col-sm-12{
  height: 456.6px;
}

.form-iframe {
  max-width: 100%;

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
  #banner .inner h1 {
    text-align: center;
    font-size: 2.0em;
  }
  iframe {
    max-width: 375px;
  }

}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 800px) {
  #banner .inner h1 {
    text-align: center;
    font-size: 1.5em;
  }

}

body {
  height: 2000px;
  margin: 0;
  padding: 0;
}

#social-icons {
  position: fixed;
  top: 15%;
}




#social-icons.right {
  right: 0px;
}

#social-icons a {
  display: block;
  text-decoration: none;
  width: 50px;
  height: 50px;
}

#social-icons .fa {
  display: block;
  font-size: 35px;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding: 8px;
  color: #fff;
  text-shadow: 1px 1px 1px #222;
}

#social-icons:hover .fa {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


#social-icons .fa-facebook {
  background-color: #3b5998;
}

#social-icons .fa-twitter {
  background-color: #00aced;
}

#social-icons .fa-instagram {
  background-color: #bb0000;
}




#social-icons .fa-facebook:hover,
#social-icons .fa-twitter:hover,
#social-icons .in-instagram:hover,

  opacity: 0.8;
}
