.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.team-header {
  padding-bottom: 50px;
  padding-top: 50px;
}
.speaker-header {
  padding-bottom: 50px;
  padding-top: 50px;
}
.speaker-person {
  position: relative;
  overflow: hidden;
}

.team-member {
  position: relative;
  overflow: hidden;
}

.member-image img {
  border: none;
  margin: auto;
  display: block;
  /*HOVER EFFECT*/
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .23s ease-in-out;
}
.speaker-image img {
  border: none;
  margin: auto;
  display: block;
  /*HOVER EFFECT*/
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .23s ease-in-out;
}

.member-image img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.speaker-image img:hover {
  filter: none;
  -webkit-filter:grayscale(0);
  -webkit-transform: scale(1.01);
}

#map {
  height: 400px;
  width: 90%;
  display: block;
  margin: auto;
}

.map-header {
  margin-bottom: 70px;
  margin-top: 70px;
}

.contact-us{
  text-align: center;
}

/*BG STATIC IMAGE*/

.parallax {
  background-image: url("https://pi.tedcdn.com/r/pl.tedcdn.com/social/ted-logo-fb.png?v=wAff13s");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
