@import url(https://fonts.googleapis.com/css?family=Raleway:200);

body {
    color: #858585;

    font-size: 16px;

}

h4,
.h4{
    font-size: 18px;
    font-weight: bold;
}

.center-align {
    text-align: center;
}

.caps {
    text-transform: uppercase;
}




#override .team {
    max-width: 100%;
    min-height: 100%;
    background-color: #fff;
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.09);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.09);
    box-shadow: 0 0 8px rgba(0,0,0,.09);
    margin-top: 50px;
    margin-bottom: 100px;
}

#override .team:not(:first-child,:last-child) {
  padding-right:50px;
  padding-left:50px;
}

.team h4 {
    text-align:center;
    margin-bottom: 2px;
    margin-top: 25px;
}

.team .bio {
    text-align: center;
    margin-top: -14px;
    margin-bottom:-8px;
    padding:30px;

}



.teamimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -80px;
    width:170px;
    height:170px;
  /*  background: #1bbc9d;*/
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.09);
}

.teamimg > img {
    width:170px;
    height:170px;
}






/* Grayscale effect */
.img-hover  img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.img-hover img:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
